@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
  text-align: left;
  font-family: "Work Sans", sans-serif;
}
.app{
  height: 100%;
  width: 100%;
  position: relative;
}
.img_up{
  /* top: 0; */
  width: 100%;
}
main{
  width: 83vw;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -94px;
  padding: 23px;
  padding-bottom: 0;
}
footer {
  font-size: 11px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
footer a {
  color: hsl(228, 45%, 44%);
}

