@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
#root{
  min-height: 100vh;
}
body {
  background-color: hsl(275, 100%, 97%);
  color: hsl(292, 42%, 14%);
  text-align: left;
  font-family: "Work Sans", sans-serif;
  min-height: 100%;
}
.app{
  width: 100%;
  position: relative;
}
.img_up{
  width: 100%;
}
footer {
  font-size: 11px;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
footer a {
  color: hsl(228, 45%, 44%);
}

