*{
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(275, 100%, 97%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  width: 100%;
}
footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

